<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= student.title %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

</div>
