<tr>
<td>
<%= form.text_field :_destroy, as: :hidden %>
<%= link_to "Delete", "#", class: "remove_record" %>
<td>

<td><%= form.label :name, label: false %></td>

<td><%= form.label :completed, label: false %></td>

<td><%= form.label :due, label: false, as: :string %></td>

</tr>